<div class="order">
  <a href="#">
    {{title}}
  </a>
</div>

<main id="wrapper">
  <h2>Cart</h2>
  <div class="grid2" style="min-height: 400px">
    <div class="fill-available">
      {{#if cart}}
      <form action="/session">
        <button type="submit" class="btn btn-outline-pink">Clear Cart</button>
      </form>
      <hr>
      {{#each cart}}
      <div id="div_{{this._id}}">
        <img src="img/{{this.image}}" style="width: 100px; height: 100px;">
        <h3>{{this.name}}</h3>
        Quantity: <span id="qty_{{this._id}}">{{this.qty}}</span><br><br>
        Price: {{this.price}}
      </div>
      <hr>
      {{/each}}
      <div>
        <button class="btn btn-outline-pink" onclick="goTo('/checkout')">Checkout</button>
        &nbsp;
        <button class="btn btn-outline-pink" onclick="goTo('/products')">Continue Shopping</button>
      </div>
      {{else}}
      <div>
        <p>No items in the cart</p>
        <button class="btn btn-outline-pink" onclick="goTo('/products')">Continue Shopping</button>
      </div>
      {{/if}}
    </div>
  </div>
</main>